@import url('https://fonts.googleapis.com/css?family=Raleway');


/* NAVBAR STYLES START */

.nav {
  padding-left: 750px;
}

.navbar {
  margin-bottom: 0px;
}

.container-fluid {
  background-color: #17272F;
}

#intro {
  background-image: url('../img/hero.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  opacity: 0.3;
  padding-top: 100px
}

.stats {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
