@import url('https://fonts.googleapis.com/css?family=Raleway');


/* NAVBAR STYLES START */
.escape {
  padding-top: 27px;
}
.nav {
  padding-top: 20px;;
  padding-left: 600px;
}

.logo {
  width: 80px;
  height: 80px;
}
.navbar {
  margin-bottom: 0px;
}

.container-fluid {
  background-color: #17272F;
}

.navbar-form {
  padding-top: 20px;
}

#intro {
  background-image: url('../img/hero2.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 600px;
  opacity: 0.5;
  padding-top: 50px;
}

.stats {
  font-family: 'Raleway', sans-serif;
  color: #000;
  padding-bottom: 300px;
}

.main {
  font-family: 'Raleway', sans-serif;
  height: 500px;
  background-color: #17272F;
  color: #E7E1DE;
}

.strong {
  background-image: url('../img/mission.jpg');
  background-size: cover;
  height: 400px;
}

.signs {
  font-family: 'Raleway', sans-serif;
  height: 500px;
  background-color: #E7E1DE;
  color: #17272F;
}

.items {
  font-family: 'Raleway', sans-serif;
  padding-top: 20px;
  font-size: 18px;
}
/* FOOTER STYLES START */
.footer {
  height: 150px;
  background-color: #17272F;
}

.fab {
  padding-top: 40px;
  padding-left: 10px;
  font-size: 50px;
  color: #E7E1DE;
}

.copyright {
  font-size: 15px;
  color: #E7E1DE;
  font-family: 'Raleway', sans-serif;
}
