<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/resources.css">
  <title>Stand Free</title>
</head>
<body>

  <!-- NAVBAR BEGINS -->
  <nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
      <img class="pull-left logo" src="../img/sf.png" alt="...">
      <!-- <img class="media-left media-middle" src="../img/sf.png" alt="..."> -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="/survivor-stories">Survivor Stories</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Domestic Violence</a></li>
              <li><a href="#">Human Trafficking</a></li>
              <li><a href="#">Substance Abuse</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/resources">All Resources</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div class="escape">
          <a href="https://www.google.com/"><button type="button" class="btn btn-danger">ESCAPE</button></a>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<body>
<!-- Start Hero Section -->
<div class="hero-box">

</div>
<!-- End Hero Section -->


  <!-- Start Resource Section -->
  <div class="resourcecontainer">
    <!-- Start Category 1  -->
    <div class="container-fluid category flex">
      <h2>Domestic Violence</h2>
      <!-- Start Card 1 -->
      <div class="cardcontainer col-sm-4">
        <div class="thecard">
          <div class="cardfront">
            <h4>Margaree Mason Center</h4>
            <img src="../img/woman3.jpg" alt="" class="fillheight">
          </div>
          <div class="cardback">
            <h4>Margaree Mason Center</h4>
            <ul>
              <li><address>1600 M Street<br>Fresno, CA 93721<br></address></li>
              <li><a href="https://mmcenter.org/">https://mmcenter.org/</a></li>
              <li><a href="tel:5592334357">559-233-HELP(4357)</a></li>
            </ul>
            <img src="../img/margaree_logo.png" alt="" class="image-responsive">
          </div>
        </div>
      </div>
      <!-- End Card 1 -->
      <!-- Start Card 2 -->
      <div class="cardcontainer col-sm-4">
        <div class="thecard">
          <div class="cardfront">
            <h4>Centro La Familia</h4>
            <img src="../img/man1.jpg" alt="" class="fillheight">
          </div>
          <div class="cardback">
            <h4>Centro La Familia</h4>
            <ul>
              <li><address>302 Fresno St, Suite 102<br>Fresno, CA 93706<br></address></li>
              <li><a href="http://centrolafamilia.org/">http://centrolafamilia.org/</a></li>
              <li><a href="tel:8772943772">Toll Free 1-877-294-3772</a></li>
            </ul>
            <img src="../img/centro_logo.png" alt="" class="fillwidth">
          </div>
        </div>
      </div>
      <!-- End Card 2 -->
      <!-- Start Card 3 -->
      <div class="cardcontainer col-sm-4">
        <div class="thecard">
          <div class="cardfront">
            <h4>Family Healing Center</h4>
            <img src="../img/hero.jpg" alt="" class="fillheight">
          </div>
          <div class="cardback">
            <h4>Family Healing Center</h4>
            <ul>
              <li><address>7025 N Chestnut, Suite 102<br>Fresno, CA 93720<br></address></li>
              <li><a href="http://www.fhcfresno.org/">http://www.fhcfresno.org/</a></li>
              <li><a href="tel:5598401012">559-840-1012</a></li>
            </ul>
            <img src="../img/fhc_logo.png" alt="" class="fillwidth">
          </div>
        </div>
      </div>
      <!-- End Card 3 -->
    </div>
    <!-- End Category 1 -->
    <!-- Start Category 2  -->
    <div class="container-fluid category flex">
      <h2>Human Trafficking</h2>
      <!-- Start Card 1 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="cardfront">
            <h4>Breaking the Chains</h4>
            <img src="../img/man2.jpg" alt="" class="fillheight">
          </div>
          <div class="cardback">
            <h4>Breaking the Chains</h4>
            <ul>
              <li><address>PO Box 9751<br>Fresno, CA 93794<br></address></li>
              <li><a href="https://www.btcfresno.org/">https://www.btcfresno.org/</a></li>
              <li><a href="tel:8888582021">Toll Free 1-888-858-2021</a></li>
            </ul>
            <img src="../img/chains_logo.png" alt="" class="fillwidth">
          </div>
        </div>
      </div>
      <!-- End Card 1 -->
      <!-- Start Card 2 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="cardfront">
            <h4>Central Valley<br>Against Human Trafficking</h4>
            <img src="../img/woman4.jpg" alt="" class="fillheight">
          </div>
          <div class="cardback">
            <h4>Central Valley<br>Against Human Trafficking</h4>
            <ul>
              <li><a href="http://www.fresnoeoc.org/cvaht">http://www.fresnoeoc.org/cvaht</a></li>
              <li><a href="tel:5592631379"><br>CVAHT Office<br>559-263-1379</a></li>
              <li><a href="tel:8883737888"><br>24-Hour National<br>Human Trafficking Hotline<br>1-888-373-7888</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Card 2 -->
      <!-- Start Card 3 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="cardfront">
            <h4>Central Valley<br>Justice Coalition</h4>
            <img src="../img/woman6.jpg" alt="" class="fillheight">
          </div>
          <div class="cardback">
            <h4>Central Valley<br>Justice Coalition</h4>
            <ul>
              <address>487 W Shaw Ave<br>Fresno, CA 93704<br></address>
              <li><a href="https://justiceco.org/">https://justiceco.org/</a></li>
              <li><a href="tel:5592278001"><br>Office 559-227-8001</a></li>
              <li><a href="tel:5597251865">Resource Line 559-725-1865</a></li>
              <li><a href="tel:8883737888"><br>24-Hour National<br>Human Trafficking Hotline<br>1-888-373-7888</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Card 3 -->
    </div>
    <!-- End Category 2 -->
    <!-- Start Category 3  -->
    <div class="container-fluid category flex">
      <h2>Substance Abuse</h2>
      <!-- Start Card 1 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="cardfront">
            <h4>Turning Point<br>of Central California</h4>
            <img src="../img/woman5.jpg" alt="" class="fillwidth">
          </div>
          <div class="cardback">
            <h4>Turning Point<br>of Central California</h4>
            <ul>
              <address>615 S Atwood St<br>Visalia, CA 93277<br></address>
              <li><a href="http://www.tpocc.org/">http://www.tpocc.org/</a></li>
              <li><a href="tel:5597328086"><br>Office 559-732-8086</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Card 1 -->
      <!-- Start Card 2 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="cardfront blacktext">
            <h4>West Care<br>Fresno STOP & MLK Campus</h4>
            <img src="../img/woman7.jpg" alt="" class="fillwidth">
          </div>
          <div class="cardback">
            <h4>West Care<br>Fresno STOP & MLK Campus</h4>
            <ul>
              <address>2772 S MLK Blvd<br>Fresno, CA 93706<br></address>
              <li><a href="https://westcare.com/page/where-we-serve_CA_01d">https://westcare.com/page/where-we-serve_CA_01d</a></li>
              <li><a href="tel:5592654800"><br>Office 559-265-4800</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Card 2 -->
      <!-- Start Card 3 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="cardfront">
            <h4>Comprehensive Addiction Programs</h4>
            <img src="../img/man3.jpg" alt="" class="fillheight">
          </div>
          <div class="cardback">
            <h4>Comprehensive Addiction Programs</h4>
            <ul>
              <address>2445 W Whitesbridge Ave<br>Fresno, CA 93706<br></address>
              <li><a href="http://www.caprehab.org/">http://www.caprehab.org/</a></li>
              <li><a href="tel:5592645096"><br>Office 559-264-5096</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Card 3 -->
    </div>
    <!-- End Category 3 -->
  </div>
  <!-- End Resource Section -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>
</html>
