<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/resources.css">
  <title>Stand Free</title>
</head>
<body>
  <!-- Start Resource Section -->
  <div class="resourcecontainer">
    <!-- Start Category 1  -->
    <div class="container-fluid category flex">
      <h2>Domestic Violence</h2>
      <!-- Start Card 1 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 1 -->
      <!-- Start Card 2 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 2 -->
      <!-- Start Card 3 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 3 -->
      <!-- Start Card 4 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 4 -->
    </div>
    <!-- End Category 1 -->
    <!-- Start Category 2  -->
    <div class="container-fluid category flex">
      <h2>Human Trafficking</h2>
      <!-- Start Card 1 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 1 -->
      <!-- Start Card 2 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 2 -->
      <!-- Start Card 3 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 3 -->
      <!-- Start Card 4 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 4 -->
    </div>
    <!-- End Category 2 -->
    <!-- Start Category 3  -->
    <div class="container-fluid category flex">
      <h2>Substance Abuse</h2>
      <!-- Start Card 1 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 1 -->
      <!-- Start Card 2 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 2 -->
      <!-- Start Card 3 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 3 -->
      <!-- Start Card 4 -->
      <div class="cardcontainer col-sm-3">
        <div class="thecard">
          <div class="thefront">front of card</div>
          <div class="theback">back of card</div>
        </div>
      </div>
      <!-- End Card 4 -->
    </div>
    <!-- End Category 3 -->
  </div>
  <!-- End Resource Section -->
</body>
</html>
